In [1]:
import pandas as pd 
import numpy as np

In [93]:
bse = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\BSE.xlsx")
gdp_growth = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\GDP Growth.xlsx")                        
fiscal_deficit = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Fiscal Deficit.xlsx")
inflation_growth = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Inflation Growth Rate.xlsx")
exchange_rate = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Exchange rate.xlsx")
trade_bal = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Trade bal.xlsx")
crude_oil_price = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Crude Oil price.xlsx")
debt_to_percentage = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Debt to percentahge.xlsx")
bci = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Business COnfidence Index.xlsx")
repo_rate = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\REPO RATE.xlsx")
forex = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Forex Reserve.xlsx")
iip = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\IIP index.xlsx")
credit_growth = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Credit Growth.xlsx")
cpi_index = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\CPI Al.xlsx")
wage_rate = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Wage Rate.xlsx")
crisis = pd.read_excel(r"C:\Users\PANKAJ GUPTA\Downloads\archive (1)\Stress\Political crirsis.xlsx")

In [94]:
print(bse.head(2))
print(gdp_growth.head(2))
print(fiscal_deficit.head(2))
print(inflation_growth.head(2))
print(exchange_rate.head(2))
print(trade_bal.head(2))
print(crude_oil_price.head(2))
print(debt_to_percentage.head(2))
print(bci.head(2))
print(repo_rate.head(2))
print(forex.head(2))
print(iip.head(2))
print(credit_growth.head(2))
print(cpi_index.head(2))
print(wage_rate.head(2))
print(crisis.head(2))

       Date          BSE
0  Jan-2000  5405.267090
1  Feb-2000  5650.590007
       Date  gdp_growth
0  Jan-2000       0.021
1  Feb-2000       0.021
       Date  Fiscal Deficit
0  Jan-2000         15300.0
1  Feb-2000          3059.0
       Date  Inflation_rate
0  Jan-2000        0.000000
1  Feb-2000       -0.232019
       Date  Exchange rate
0  Jan-2000      43.550270
1  Feb-2000      43.612448
       Date  Exports  Imports  Trade Balance
0  Jan-2000  11966.0  16894.0        -4928.0
1  Feb-2000  14846.0  18947.0        -4101.0
       Date  Crude_Price
0  Jan-2000        21.95
1  Feb-2000        19.12
       Date  Debt_percentage
0  Jan-2000            73.67
1  Feb-2000            73.67
       Date   BCI
0  Jan-2000  124.6
1  Feb-2000  124.6
       Date  Repo Rate
0  Jan-2000        9.41
1  Feb-2000        9.41
       Date     forex
0  Jan-2000  152283.0
1  Feb-2000  156570.0
       Date  IIP_index
0  Jan-2000      163.2
1  Feb-2000      161.6
       Date        credit  credit_growth
0  Jan-2000  414942.48730        0.00000
1  Feb-2000  422153.81525        1.73791
       Date  CPI
0  Jan-2000  307
1  Feb-2000  306
       Date  wage_rate
0  Jan-2000  64.740556
1  Feb-2000  65.162222
       Date  crisis
0  Jan-2000       0
1  Feb-2000       0

In [95]:
for i, item in enumerate(all_files):
    if isinstance(item, pd.DataFrame):
        print(f"Item {i} is a DataFrame.")
    else:
        print(f"Item {i} is NOT a DataFrame. It is a {type(item)}.")

Item 0 is NOT a DataFrame. It is a <class 'str'>.
Item 1 is NOT a DataFrame. It is a <class 'str'>.
Item 2 is NOT a DataFrame. It is a <class 'str'>.
Item 3 is NOT a DataFrame. It is a <class 'str'>.
Item 4 is NOT a DataFrame. It is a <class 'str'>.
Item 5 is NOT a DataFrame. It is a <class 'str'>.
Item 6 is NOT a DataFrame. It is a <class 'str'>.
Item 7 is NOT a DataFrame. It is a <class 'str'>.
Item 8 is NOT a DataFrame. It is a <class 'str'>.
Item 9 is NOT a DataFrame. It is a <class 'str'>.
Item 10 is NOT a DataFrame. It is a <class 'str'>.
Item 11 is NOT a DataFrame. It is a <class 'str'>.
Item 12 is NOT a DataFrame. It is a <class 'str'>.
Item 13 is NOT a DataFrame. It is a <class 'str'>.
Item 14 is NOT a DataFrame. It is a <class 'str'>.
Item 15 is NOT a DataFrame. It is a <class 'str'>.

In [96]:
all_files = [
    'bse', 'gdp_growth', 'fiscal_deficit', 'inflation_growth','exchange_rate', 'trade_bal','crude_oil_price', 'debt_to_percentage','bci','repo_rate',
    'forex','iip', 'credit_growth','cpi_index', 'wage_rate', 'crisis'
]

In [97]:
a1 = pd.merge(bse, gdp_growth, on='Date', how='left')
a1

         Date           BSE  gdp_growth
0    Jan-2000   5405.267090       0.021
1    Feb-2000   5650.590007       0.021
2    Mar-2000   5261.767625       0.021
3    Apr-2000   4896.042209       0.021
4    May-2000   4253.109974       0.021
..        ...           ...         ...
295  Aug-2024  80494.182292       0.067
296  Sep-2024  83294.127604       0.067
297  Oct-2024  81079.506037       0.054
298  Nov-2024  79011.402138       0.054
299  Dec-2024  80290.022266       0.054

[300 rows x 3 columns]

In [98]:
a2 = pd.merge(a1, fiscal_deficit, on='Date', how='left')
a2.shape

(300, 4)

In [99]:
a2 = pd.merge(a1, fiscal_deficit, on='Date', how='left')
a3 = pd.merge(a2,inflation_growth, on='Date', how='left')
a4 = pd.merge(a3, exchange_rate, on='Date', how='left')
a5 = pd.merge(a4, trade_bal, on='Date', how='left')
a6 = pd.merge(a5, crude_oil_price, on='Date', how='left')
a7 = pd.merge(a6, debt_to_percentage, on='Date', how='left')
a8 = pd.merge(a7, bci, on='Date', how='left')
a9 = pd.merge(a8, repo_rate, on='Date', how='left')
a10 = pd.merge(a9, forex, on='Date', how='left')
a11 = pd.merge(a10, iip, on='Date', how='left')
a12 = pd.merge(a11, credit_growth, on='Date', how='left')

In [130]:
a13 = pd.merge(a12, cpi_index, on='Date', how='left')
a14 = pd.merge(a13, wage_rate, on='Date', how='left')
indicators = pd.merge(a14, crisis, on='Date', how='left')

In [131]:
indicators.head()

,Date,BSE,gdp_growth,Fiscal Deficit,Inflation_rate,Exchange rate,Exports,Imports,Trade Balance,Crude_Price,Debt_percentage,BCI,Repo Rate,forex,IIP_index,credit,credit_growth,CPI,wage_rate,crisis
0,Jan-2000,5405.267090,0.021,15300.0,0.000000,43.550270,11966.0,16894.0,-4928.0,21.95,73.67,124.6,9.41,152283.0,163.2,414942.48730,0.000000,307.0,64.740556,0.0
1,Feb-2000,5650.590007,0.021,3059.0,-0.232019,43.612448,14846.0,18947.0,-4101.0,19.12,73.67,124.6,9.41,156570.0,161.6,422153.81525,1.737910,306.0,65.162222,0.0
2,Mar-2000,5261.767625,0.021,19276.0,0.930233,43.588471,16823.0,21233.0,-4409.0,20.15,73.67,124.6,9.41,165913.0,174.5,431502.22125,2.214455,306.0,65.373333,0.0
3,Apr-2000,4896.042209,0.021,12799.0,0.921659,43.640283,14444.0,19206.0,-4762.0,22.51,73.67,125.5,10.10,165454.0,156.5,445452.19610,3.232886,307.0,66.133889,0.0
4,May-2000,4253.109974,0.021,10722.0,0.456621,43.985033,15732.0,19223.0,-3491.0,26.60,73.67,125.5,10.10,166038.0,160.0,442786.39085,-0.598449,310.0,66.483889,0.0

In [132]:
indicators.shape

(318, 20)

In [133]:
indicators.isna().sum()

Date                0
BSE                 0
gdp_growth          0
Fiscal Deficit      5
Inflation_rate     11
Exchange rate       0
Exports             1
Imports             1
Trade Balance       1
Crude_Price         0
Debt_percentage     0
BCI                 0
Repo Rate           0
forex               2
IIP_index           2
credit              0
credit_growth       0
CPI                 1
wage_rate           8
crisis              2
dtype: int64

In [134]:
indicators.dtypes

Date                object
BSE                float64
gdp_growth         float64
Fiscal Deficit     float64
Inflation_rate     float64
Exchange rate      float64
Exports            float64
Imports            float64
Trade Balance      float64
Crude_Price        float64
Debt_percentage    float64
BCI                float64
Repo Rate          float64
forex              float64
IIP_index          float64
credit             float64
credit_growth      float64
CPI                float64
wage_rate          float64
crisis             float64
dtype: object

In [135]:
indicators.to_excel("indicators.xlsx")